%text1 {
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    color: #191919;
}
%main5_b2p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #191919;
    text-decoration: line-through;
    text-decoration-color: #F6C627;
}
%main5_text1 {
    font-size: 0.75rem;
    font-family: "Roboto", sans-serif;
    color: #616A7E;
    width: 4vw;
}
%main5_text12 {
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
    color: #191919;
    width: 4vw;
}
%main5_text2 {
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    color: #191919;
}