%text1 {
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    color: #191919;
}
%main5_b2p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #191919;
    text-decoration: line-through;
    text-decoration-color: #F6C627;
}